.resume-wrap {
    >div {
        padding: 65px 0;
        &:not(:first-of-type, :last-of-type) {
            border-bottom: 1px solid #edebeb;
        }
        &.contact-wrap {
            padding: 0 0 65px;
        }
    }
}

.myself-image {
    max-width: 260px;
    height: 260px;
    // background: url(/wj.png) no-repeat center / cover;
    background: url(/woojin_czech.jpg) no-repeat center / cover;
    // background: url(/woojin_paris.jpg) no-repeat center / cover;
    // background: url(/woojin_paris2.jpg) no-repeat center / cover;
}

.border-bottom-gray {
    border-bottom: 1px solid #edebeb;
}